<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Plugin: Inline el definition</title>

    <!-- ATTN Foundation loaded without JS - stay clear of JS-driven widgets, or add the JS setup -->
    <!--
        ATTN jQuery 1.x is used here, making the demo compatible with oldIE. As a side effect,
        Foundation 5 JS can't be used reliably (requires jQuery 2.x). Stay clear, or switch to
        jQuery 2.x, available in the top-level bower_components.
    -->
    <link rel="stylesheet" href="../bower_demo_components/foundation/css/normalize.css">
    <link rel="stylesheet" href="../bower_demo_components/foundation/css/foundation.css">

    <link rel="stylesheet" href="amd.css">
    <link rel="stylesheet" href="inline-el.css">

    <!-- Fix HTML5 tags in oldIE and other lacking legacy browsers -->
    <script src="../bower_demo_components/modernizr/modernizr.js"></script>


    <script id="list-template-backbone" type="text/x-template" data-el-definition="inline">
        <!--
            The `el` of the view is defined inline.
            We also demonstrate here that a top-level comment inside the template doesn't break stuff.
        -->
        <ul id="unordered-list-backbone" class="list small-block-grid-4 medium-block-grid-8 large-block-grid-10">
            <!-- no content - template just exists for the el definition -->
        </ul>
    </script>

    <script id="list-template-marionette" type="text/x-template" data-el-definition="inline">
        <!--
            The `el` of the view is defined inline.
            We also demonstrate here that a top-level comment inside the template doesn't break stuff.
        -->
        <ul id="unordered-list-marionette" class="list small-block-grid-4 medium-block-grid-8 large-block-grid-10">
            <!-- no content - template just exists for the el definition -->
        </ul>
    </script>

    <!-- Again, the `el` of the view is defined inline. This template is shared by Backbone and Marionette. -->
    <script id="item-template" type="text/x-template" data-el-definition="inline">
        <li class="item" style="font-weight: bold;" lang="en" contenteditable="true">
            <%= number %>
            <br/>
            Edit me!
        </li>
    </script>

    <!--
        Here, `el` of the view is defined with data attributes. Both approaches should be able to coexist.
        (Mixing them is not a good idea, but it should be possible).
    -->
    <script id="report-template-backbone" data-tag-name="p" data-class-name="conventional" type="text/x-template">
        We have generated <%= itemViewCount %> item views with <%= framework %>.
    </script>

    <!-- Same for Marionette. -->
    <script id="report-template-marionette" data-tag-name="p" data-class-name="conventional" type="text/x-template">
        We have generated <%= itemViewCount %> item views with <%= framework %>.
    </script>

</head>
<body>
    <!-- check that 'bower install' has been run in the demo dir if bower.json isn't empty -->
    <script src="../bower-check.js"></script>


    <section id="header">
        <h1 class="row">Plugin: Inline <code>el</code> definition</h1>
        <p class="row">This page uses the AMD build in the <code>dist</code> directory, not the files in <code>src</code>. In other words, run the <code>grunt</code> command first to build a current version.</p>
        <p class="row">Items which have been rendered correctly are set to a <span class="ok">green</span> background. Where things have gone wrong, the background is <span class="failure">red</span>.</p>
    </section>

    <section class="content">
        <h2 class="row">Content generated with Backbone and an inline <code>el</code></h2>
        <div class="container row backbone"></div>
        <h2 class="row">Content generated with Marionette and an inline <code>el</code></h2>
        <div class="container row marionette"></div>
        <h2 class="row">Content generated with Backbone and an <code>el</code> defined with data attributes</h2>
        <div class="report row backbone"></div>
        <h2 class="row">Content generated with Marionette and an <code>el</code> defined with data attributes</h2>
        <div class="report row marionette"></div>
    </section>

    <!-- libraries --><!-- edit and replace with your project libraries as needed -->
    <script src="../bower_demo_components/requirejs/require.js"></script>
    <script src="require-config.js"></script>
    <script>
        // Relative to the baseUrl defined in require-config.js
        require( ['../demo/amd/inline-el'] );
    </script>

</body>
</html>
